.border{
   border-radius: 5px;
  
}

.flex{
    display:flex;
}

.justify_content{
    justify-self: center;
}

.items-center{
    align-items: center;
}

.bg-color{
    background-color: #121212;
    color:white;
}

.bg-color-2{
    background-color: #090909 ;
}

.paddy{
    padding:15px;
}

.font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.font-3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color:grey;
    font-weight: 450;
    line-height: 12px;
}

/* Applies to Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;  /* Dark track background */
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* Thumb color */
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* Creates padding inside thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}

.paddy-2{
    padding:25px 0 0 0px;
}
.paddy-3{
    padding:0 0 10px 35px;
}

.invert{
    filter:invert(1);
}

